<title>Iniciatop</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="An app to handle player initiative">

<!-- Google Authorship Markup -->
<link rel="author" href="https://plus.google.com/115327941224049762448">

<!-- Social: Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="https://iniciatop.herokuapp.com/">
<meta name="twitter:title" content="iniciatop">
<meta name="twitter:description" content="An app to handle player initiative">
<meta property="twitter:image:src" content="https://iniciatop.herokuapp.com/img/opengraph.png">

<!-- Social: Facebook / Open Graph -->
<meta property="og:url" content="https://iniciatop.herokuapp.com/">
<meta property="og:title" content="iniciatop">
<meta property="og:image" content="https://iniciatop.herokuapp.com/img/opengraph.png">
<meta property="og:image:width" content="578">
<meta property="og:image:height" content="776">
<meta property="og:description" content="An app to handle player initiative">

<!-- Social: Google+ / Schema.org  -->
<meta itemprop="name" content="iniciatop"/>
<meta itemprop="description" content="An app to handle player initiative">
<meta itemprop="image" content="https://iniciatop.herokuapp.com/img/opengraph.png"/>

<!-- Favicon -->
<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />

<!-- Android Lolipop Theme Color -->
<meta name="theme-color" content="rgba(42, 77, 20, 1)">

<!-- Styles -->
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://bootswatch.com/superhero/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">


<!-- Javascript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
