<div class="div-adicionar-jogador">
  <div class="col-xs-8">
    <label class="control-label" for="focusedInput">Adicionar jogador</label>
    <input type="text" class="form-control player-input" id="inputEmail" placeholder="Nome do Jogador">
  </div>
  <div class="col-xs-4 bottom">
    <a class="btn btn-sucess"><i class="fa fa-check fa-3x" onclick="adicionarJogador();"></i></a>
  </div>
</div>
