<div class="div-adicionar-jogador">
  <div class="col-xs-10">
    <label class="control-label" for="focusedInput">Adicionar jogador</label>
    <input type="text" class="form-control player-input" id="inputEmail" placeholder="Nome do Jogador">
  </div>
  <div class="col-xs-2" style="vertical-align: bottom;">
    <a class="btn btn-sucess" style="padding-bottom: 0;"><i class="fa fa-check fa-3x" onclick="adicionarJogador();"></i></a>
  </div>
</div>
