.título-do-app {
  margin-top: 1em;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.div-titulo {
  padding:0 !important;
}

.jogador-na-lista {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-width: 0 0 0.5em 0;
  height: 6em;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.7);
}

.div-adicionar-jogador {
  margin-top: 2em;
}

h1 {
  font-size: 4.5em !important;
}

h3 {
  font-weight: bolder !important;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.edit {
  height: 100%;
  margin-top: 1em;
  width: 7em;
}

.edit-div {
  height: 3em;
}

i.fa {
  line-height: 100%;
}

.highlight {
  background-color: rgba(0, 0, 0, 0.75);
}
