<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 div-titulo">
          <div class="jumbotron título-do-app">
            <center>
              <h1>Iniciatop</h1>
              <p>Inicializando a iniciativa</p>
            </center>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="lista-dos-jogadores">
          </div>
          <div class="input-pra-adicionar-jogador">
            <% include ../partials/player.ejs %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="footer" style="margin-top: 5em;">
            <center>
              <p>
                Todos direitos reservados para minha mãe
              </p>
              <p>
                Visite-nos no
                <a href="https://github.com/ArmlessJohn404/iniciatop">
                  GitHub
                </a>
              </p>
            </center>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
